# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.ipynb_checkpoints/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# Environment files
.env
.venv/
venv/

# Logs
*.log

# Others
*.swp
*.swo

# Ignore all hidden files and folders
.*

# Do not ignore .gitignore itself
!.gitignore
